body {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
}

#create-room-modal {
  display: none;
  position: fixed;
  width: 600px;
  height: 430px;
  background-color: white;
  border: 2px solid black;
  margin-top: 20vh;
  padding: 20px;
  box-sizing: border-box;
}

#password-modal {
  display: none;
  position: fixed;
  width: 600px;
  height: 350px;
  background-color: white;
  border: 2px solid black;
  margin-top: 20vh;
  padding: 20px;
  box-sizing: border-box;
}

input {
  height: 30px;
  width: 550px;
  border: 1px solid black;
  outline-style: none;
  padding: 10px;
  box-sizing: border-box;
}

#add-room-button {
  background-color: lightgrey;
  border: 1px solid black;
  height: 30px;
  width: 100px;
  cursor: pointer;
  outline-style: none;
}

#add-room-button:hover {
  background-color: darkgrey;
}

#password-join-button {
  background-color: lightgrey;
  border: 1px solid black;
  height: 30px;
  width: 100px;
  cursor: pointer;
  outline-style: none;
}

#password-join-button:hover {
  background-color: darkgrey;
}

#password-cancel {
  padding-left: 20px;
  cursor: pointer;
}

#password-cancel:hover {
  text-decoration: underline;
}

#cancel {
  padding-left: 20px;
  cursor: pointer;
}

#cancel:hover {
  text-decoration: underline;
}

#chat-box {
  height: 60px;
  display: none;
  flex-direction: row;
}

#input-chat {
  height: 100%;
  width: calc(100% - 100px);
  box-sizing: border-box;
  border: none;
  border-top: 1px solid black;
}

#submit-button {
  height: 100%;
  width: 100px;
  border: none;
  border-left: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  outline-style: none;
}

#submit-button:hover {
  background-color: lightgrey;
}

#container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#left-pane {
  width: 20%;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
}

#right-pane {
  width: 80%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

.tab {
  width: 100%;
  height: 60px;
  background-color: lightgrey;
  border-bottom: 2px solid darkgrey;
  border-right: 2px solid darkgrey;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  white-space: nowrap;
}

.tab:hover {
  background-color: #E3E3E3;
}

#get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
}

#messages {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: calc(100vh - 60px);
}

#messages-ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

li:nth-child(odd) {
    background-color: darkgrey;
}
li:nth-child(even) {
    background-color: lightgrey;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  word-break: break-all;
  line-height: 24px;
}

.message {
  max-width: 100%;
  min-height: 40px;
}
